body {
position: relative;
width: 901px;
height: 420px;

background: #FFFFFF;
}

ul.topnav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C4C4C4;
	position: relative;
width: 845px;
height: 44px;
left: 23px;
top: 22px;
}

li.right {
	display: inline-grid;
	border-right: 1px solid #000;
    float: left;
}

li.right a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

hr{
	width: 845px;
height: 0px;
left: 23px;
top: 80.5px;

border: 1px solid #000000;
}
.container {
	width: 400px;
	margin: auto;
height: 260px;
left: 23px;
top: 107px;
position: absolute;
background: #C4C4C4;
}
.container1{
	position: absolute;
width: 400px;
height: 260px;
left: 470px;
top: 107px;

background: #C4C4C4;
}